@charset "UTF-8";
html, body {
  margin: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

*:focus {
  outline: none;
}

body {
  background: #2e1a46;
  font-family: "Muli", sans-serif;
  font-weight: 300;
  line-height: 1.5em;
}

body #wrapper {
  height: 100%;
}

body #wrapper #content {
  min-height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body #wrapper #content_container {
  width: 40%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

body .powered_by {
  position: fixed;
  top: 5px;
  right: 15px;
  color: white;
  display: flex;
  flex-direction: column;
}

body .powered_by span {
  font-size: .6em;
  padding-left: 33px;
}

body .powered_by svg {
  width: 100px;
  height: auto;
}

body .logo_container {
  position: relative;
  width: 100%;
}

body .logo_container .logo_leaf {
  width: 200px;
  position: absolute;
  left: -175px;
  top: -45px;
}

body .pp_triangle {
  opacity: 0;
  -webkit-transition: opacity 0.5s linear;
  -moz-transition: opacity 0.5s linear;
  -ms-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
}

body .pp_triangle.active {
  opacity: 1;
}

body .purple_text,
body .leaf_text {
  opacity: 0;
  -webkit-transform: translateY(30px);
  -moz-transform: translateY(30px);
  -ms-transform: translateY(30px);
  transform: translateY(30px);
  position: relative;
  -webkit-transition: opacity 1.3s linear, transform 0.4s ease-out;
  -moz-transition: opacity 1.3s linear, transform 0.4s ease-out;
  -o-transition: opacity 1.3s linear, transform 0.4s ease-out;
  transition: opacity 1.3s linear, transform 0.4s ease-out;
}

body .purple_text.active,
body .leaf_text.active {
  transform: translateY(0px);
  opacity: 1;
}

.description_container {
  -webkit-transition: opacity 1.3s linear, transform 0.4s ease-out;
  -moz-transition: opacity 1.3s linear, transform 0.4s ease-out;
  -o-transition: opacity 1.3s linear, transform 0.4s ease-out;
  transition: opacity 1.3s linear, transform 0.4s ease-out;
  opacity: 0;
  -webkit-transform: translateY(30px);
  -moz-transform: translateY(30px);
  -ms-transform: translateY(30px);
  transform: translateY(30px);
  width: 100%;
}

.description_container .content_block {
  color: white;
}

.description_container.active {
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.slick-dots {
  padding: 0;
  left: 20px;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0;
  font-size: 0;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  opacity: .3;
  width: 20px;
  height: 20px;
  font-size: 25px;
  line-height: 5px;
  text-align: center;
  color: white;
}

.slick-dots li.slick-active button:before {
  opacity: 1;
}

.footer {
  width: 100%;
  padding-top: 15px;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #1f102e;
  -webkit-transform: translateY(calc(100% - 15px));
  -moz-transform: translateY(calc(100% - 15px));
  -ms-transform: translateY(calc(100% - 15px));
  transform: translateY(calc(100% - 15px));
  -webkit-transition: transform 0.3s linear;
  -moz-transition: transform 0.3s linear;
  -ms-transition: transform 0.3s linear;
  transition: transform 0.3s linear;
}

.footer.active {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.footer .demo {
  color: white;
  position: absolute;
  top: -25px;
  right: 15px;
  font-size: .8em;
}

.footer .request_demo_container {
  display: flex;
  justify-content: flex-end;
}

.footer .request_demo_container .request_demo {
  padding: 5px 15px 10px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.footer .request_demo_container .request_demo #form-messages {
  font-size: .9em;
  color: white;
  position: absolute;
  top: -25px;
}

.footer .request_demo_container .request_demo form {
  display: flex;
  justify-content: flex-end;
}

.footer .request_demo_container .request_demo form input[type="text"], .footer .request_demo_container .request_demo form input[type="email"] {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 1em;
  padding: 5px;
  border-bottom: 1px solid white;
  margin-right: 20px;
  font-weight: 300;
}

.footer .request_demo_container .request_demo form button[type="submit"] {
  border-radius: 0;
  background-color: transparent;
  border: 0;
  color: white;
  padding: 10px 10px 10px;
  letter-spacing: 1px;
  font-size: .9em;
  cursor: pointer;
}

@media only screen and (max-width: 650px) {
  body {
    font-size: 11px;
  }
  body #wrapper #content_container {
    width: 100%;
    padding: 0 30px;
  }
  body .logo_container .logo_leaf {
    position: relative;
    left: auto;
    top: auto;
  }
  .footer .demo {
    font-size: 15px;
  }
  .footer .request_demo_container .request_demo {
    width: 100%;
  }
  .footer .request_demo_container .request_demo form {
    flex-direction: column;
  }
  .footer .request_demo_container .request_demo form input {
    width: 100%;
    margin: 0 0 10px;
    font-size: 1.8em !important;
    -webkit-appearance: none;
    border-radius: 0;
  }
  .footer .request_demo_container .request_demo form button[type="submit"] {
    background-color: #4e2c7b;
    margin: 10px 0;
    width: 100%;
    font-size: 1.8em;
  }
}
