$muli: 'Muli', sans-serif;

html, body{
  margin:0;
  height:100%;
}

* {
  box-sizing: border-box;
}

@mixin transitionMixIn($target){
  -webkit-transition: $target;
     -moz-transition: $target;
      -ms-transition: $target;
          transition: $target;
}

@mixin transformation($transform){
  -webkit-transform: $transform;
     -moz-transform: $transform;
      -ms-transform: $transform;
          transform: $transform;
}

a {
  text-decoration: none;
}
*:focus{
  outline:none;
}

body {
  background: #2e1a46;
  font-family: $muli;
  font-weight:300;
  line-height:1.5em;
  #wrapper{
    height:100%;
    #content{
      min-height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    #content_container{
      width: 40%;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }
  }
  .powered_by {
    position: fixed;
    top:5px;
    right:15px;
    color: white;
    display: flex;
    flex-direction: column;
    span {
      font-size: .6em;
      padding-left: 33px;
    }
    svg {
      width: 100px;
      height:auto;
    }
  }
  .logo_container {
    position: relative;
    width: 100%;
    .logo_leaf{
      width: 200px;
      position: absolute;
      left:-175px;
      top:-45px;
    }
    .logo_text svg {

    }
  }
  .pp_triangle {
    opacity: 0;
    @include transitionMixIn(opacity .5s linear);
    &.active {
      opacity: 1;
    }
  }
  .purple_text,
  .leaf_text {
    opacity: 0;
    @include transformation(translateY(30px));
    position: relative;
    -webkit-transition: opacity 1.3s linear, transform 0.4s ease-out;
    -moz-transition: opacity 1.3s linear, transform 0.4s ease-out;
    -o-transition: opacity 1.3s linear, transform 0.4s ease-out;
    transition: opacity 1.3s linear, transform 0.4s ease-out;
    &.active {
      transform: translateY(0px);
      opacity: 1;
    }
  }
}

.description_container {
  -webkit-transition: opacity 1.3s linear, transform 0.4s ease-out;
  -moz-transition: opacity 1.3s linear, transform 0.4s ease-out;
  -o-transition: opacity 1.3s linear, transform 0.4s ease-out;
  transition: opacity 1.3s linear, transform 0.4s ease-out;
  opacity: 0;
  @include transformation(translateY(30px));
  width: 100%;
  .content_block {
    color: white;
  }
  &.active{
    opacity: 1;
    @include transformation(translateY(0));
  }
}

.slick-dots {
  padding: 0;
  left: 20px;
  li {
    position:relative;
    display: inline-block;
    height:20px;
    width:20px;
    margin:0;
    padding: 0;
    cursor: pointer;
    button {
      border: 0;
      background: transparent;
      display:block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height:0;
      font-size: 0;
      color: transparent;
      padding: 5px;
      cursor:pointer;
      &:before {
        position: absolute;
        top: 0;
        left:0 ;
        content: "•";
        opacity: .3;
        width:20px;
        height:20px;
        font-size: 25px;
        line-height:5px;
        text-align: center;
        color: white;
      }
    }
    &.slick-active {
      button {
        &:before{
          opacity:1;
        }
      }
    }
  }
}

.footer {
  width: 100%;
  padding-top:15px;
  position: fixed;
  bottom:0;
  left:0;
  background-color: #1f102e;
  @include transformation(translateY(calc(100% - 15px)));
  @include transitionMixIn(transform .3s linear);
  &.active{
    @include transformation(translateY(0));
  }
  .demo {
    color: white;
    position: absolute;
    top: -25px;
    right: 15px;
    font-size: .8em;
  }
  .request_demo_container{
    display: flex;
    justify-content: flex-end;
    .request_demo {
      padding: 5px 15px 10px;
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      #form-messages {
        font-size: .9em;
        color: white;
        position: absolute;
        top: -25px;
      }
      form {
        display: flex;
        justify-content: flex-end;
        input[type="text"], input[type="email"] {
          background-color: transparent;
          color: white;
          border:none;
          font-size: 1em;
          padding: 5px;
          border-bottom: 1px solid white;
          margin-right:20px;
          font-weight: 300;
        }
        button[type="submit"] {
          border-radius: 0;
          background-color: transparent;
          border: 0;
          color: white;
          padding: 10px 10px 10px;
          letter-spacing: 1px;
          font-size: .9em;
          cursor: pointer;
        }
      }
    }
  }
}

@media only screen and (max-width: 650px) {
  body {
    font-size:11px;
  }
  body {
    #wrapper{
      #content_container{
        width: 100%;
        padding: 0 30px;
      }
    }
    .logo_container {
      .logo_leaf{
        position: relative;
        left:auto;
        top:auto;
      }
    }
  }
  .footer {
    .demo{
      font-size: 15px;
    }
  }
  .footer .request_demo_container .request_demo {
    width: 100%;
    form {
      flex-direction: column;
      input {
        width: 100%;
        margin: 0 0 10px;
        font-size: 1.8em!important;
        -webkit-appearance: none;
        border-radius: 0;
      }
      button[type="submit"] {
        background-color: #4e2c7b;
        margin:10px 0;
        width: 100%;
        font-size: 1.8em;
      }
    }
  }
}
